<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wie gut passt ihr zusammen? Teste es hier!</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
    <p>Du willst herausfinden wie gut zwei Personen zusammenpassen?</p><p>Kein Problem, gib einfach ihre Namen hier ein und lass dir eine Zahl berechnen!</p>
    <form action="index.php" role="form" method="post">
        <div class="row">
            <div class="form-group col-xs-5 col-lg-2">
                <label for="fem">Name der weiblichen Person:</label>
                <input id="fem" type="text" class="form-control" name="female" value="' . $female . '">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-5 col-lg-2">
                <label for="mal">Name der m&auml;nnlichen Person:</label>
                <input id="mal" type="text" class="form-control" name="male" value="' . $male . '">
             </div>
        </div>
        <div class="row">
            <div class="radio">
                <label class="radio"><input type="radio" name="algoradio" value="al1" ' . $al1checked . '>Algorithmus 1</label>
            </div>
        </div>
        <div class="row">
            <div class="radio">
                <label class="radio"><input type="radio" name="algoradio" value="al2" ' . $al2checked . '>Algorithmus 2</label>
            </div>
        </div>
        <div class="row">
            <input class="btn btn-primary" id="button" type="submit" value="Berechnen!">
        </div>
    </form>';
    ?>
    </main>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
